[Unit]
Description=AX.25 RMS Gateway for %i
BindsTo=direwolf.service
After=direwolf.service

[Service]
ExecStart=/usr/bin/python3 -m gensio_modems.ax25 \
    -l %i \
    -g rms,tcp,cms.winlink.org,8772 \
    --banner "%i gensio+ax25 experimental RMS gateway"
Restart=always
RestartSec=60

[Install]
WantedBy=direwolf.service
