[Unit]
Description=Winlink Express RMS client
After=varafm.service

[Service]
Environment=DISPLAY=':0.0' WINEPREFIX=/opt/wine-winlink
ExecStart=/usr/bin/wine "${WINEPREFIX}/drive_c/RMS Express/RMS Express.exe"
Type=oneshot

[Install]
WantedBy=default.target
