name: Upload Python Package

on:
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip build
    - name: Build and publish
      run: |
        python -m build
    - uses: pypa/gh-action-pypi-publish@v1.5.0
      with:
        user: ${{ secrets.pypi_username }}
        password: ${{ secrets.pypi_password }}
        repository_url: https://test.pypi.org/legacy/

